<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tarefas</title>
</head>
<body>
    <h1>Lista de Tarefas</h1>
    <ul>
        {% for tarefa in tarefas %}
            <li>
                {{ tarefa.titulo }} - {{ tarefa.descricao }} - {{ tarefa.data_criacao }}
                <a href="{% url 'edita_tarefa' tarefa.id %}">Editar</a>
                <a href="{% url 'exclui_tarefa' tarefa.id %}">Excluir</a>
                <input type="checkbox" name="concluir_tarefa" value="{{ tarefa.id }}"> Marcar como concluída
                {% else %}
                    (Concluída)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'cadastra_tarefa' %}">Cadastrar Tarefa</a>
    <a href="{% url 'relatorio_tarefas' %}">Relatório de Tarefas</a>
</body>
</html>